---
layout: base.njk
permalink: /private-haushalte/
title: "Solaranlage für Zuhause Mindelheim | ALAB Energiesysteme – Ingenieurbüro"
description: "PV-Lösungen für Ein- und Mehrfamilienhäuser – Planung, Installation, Speicher & Wallbox."
eleventyExcludeFromCollections: true
bodyClass: private-page

page:
  css_files:
    - /assets/css/private/section-hero.css
    - /assets/css/private/section2-solarrechner.css
    - /assets/css/private/section3-komponenten.css
    - /assets/css/private/section4-vorteile.css
    - /assets/css/private/section5-vorgehen.css
  js_files:
    - /assets/js/private/section-hero.js
    - /assets/js/private/section2-solarrechner.js
    - /assets/js/private/section3-komponenten.js
    - /assets/js/private/section4-vorteile.js
    - /assets/js/private/section5-vorgehen.js
---

{% include "./_sections/hero.njk" %}
{% include "./_sections/solarrechner.njk" %}
{% include "./_sections/komponenten.njk" %}
{% include "./_sections/vorgehen.njk" %}
{% include "./_sections/vorteile.njk" %}
