---
permalink: /
layout: base.njk
eleventyExcludeFromCollections: true
title: "ALAB Energiesysteme | Photovoltaik-Experten Mindelheim"
description: "Ingenieurbüro Photovoltaik in Mindelheim: Planung, Statik, Montage & Service. Für Gewerbe & Privat. Jetzt kostenlos beraten lassen – ALAB Energiesysteme."


page:
  css_files:
    - /assets/css/startseite/section-hero.css
    - /assets/css/startseite/section2-warum-alab.css
    - /assets/css/startseite/section4-wissen.css
    - /assets/css/startseite/section5-partner.css
    - /assets/css/startseite/section6-faq.css
  js_files:
    - /assets/js/startseite/section-hero.js
    - /assets/js/startseite/section2-warum-alab.js
    - /assets/js/startseite/section4-wissen.js
    - /assets/js/startseite/section5-partner.js
    - /assets/js/startseite/section6-faq.js
---


{% include "./_sections/hero.njk" %}
{% include "./_sections/warum-alab.njk" %}
{% include "./_sections/wissen.njk" %}
{% include "./_sections/partner.njk" %}
{% include "./_sections/faq.njk" %}